.element__like-counter {
    width: 10px;
    height: 13px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    line-height: 15.7px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin: 0;
    padding: 0;
}