.profile {
    display: flex;
    flex-direction: row;
    width: 880px;
    margin: 0 auto;
    padding: 36.25px 0 0 0;
}


@media screen and (min-width: 640px) and (max-width: 1000px) {
    .profile {
        width: 560px;
    }
}


@media screen and (max-width: 639px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        padding-top: 42px;
        align-items: center;
    }
}


@media screen and (max-width: 319px) {
    .profile {
        max-width: 100%;
    }
}