.profile__job {
    color: #fff;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 21.78px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


@media screen and (min-width: 640px) and (max-width: 1000px) {
    .profile__job {
        font-size: 15px;
        max-width: 225px;
    }
}


@media screen and (max-width: 639px) {
    .profile__job {
        max-width: 190px;
        font-size: 14px;
        line-height: 17px;
        grid-column: 1;
        justify-self: center;
    }
}