.elements {
    max-width: 880px;
    padding-top: 51px;
    margin: 0 auto;
}


@media screen and (min-width: 640px) and (max-width: 1000px) {
    .elements {
        max-width: 560px;
    }
}


@media screen and (max-width: 639px) {
    .elements {
        padding-top: 36px;
    }
}

@media screen and (max-width: 639px) {
    .elements {
        max-width: 282px;
    }
}


@media screen and (max-width: 319px) {
    .elements {
        min-width: 200px;
    }
}