.element {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    max-width: 282px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}


@media screen and (max-width: 340px) {
    .element {
        max-width: 87%;
    }
}