.popup__close-icon {
    width: 32px;
    height: 32px;
    position: fixed;
    background-image: url(../../../images/Close-Icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #000;
    cursor: pointer;
    align-self: flex-end;
    margin: -40px -40px 0 0;
    padding: 0;
    border: none;
}


.popup__close-icon:hover {
    opacity: .6;
}


@media screen and (max-width: 767px) {
    .popup__close-icon {
        width: 20px;
        height: 32px;
        margin: -46px 5px 0 0;
    }
}