.popup__close-icon {
    position: fixed;
    cursor: pointer;
    align-self: flex-end;
    margin: -40px 0 0 40px;
}


.popup__close-icon:hover {
    opacity: .6;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close-icon {
        width: 20px;
        margin: -36px 0 0 0;
    }
}