.profile__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-content: center;
    gap: 16px 18px;
    align-items: center;
}


@media screen and (min-width: 640px) and (max-width: 1000px) {
    .profile__info {
        gap: 5px 10px;
    }
}


@media screen and (max-width: 639px) {
    .profile__info {
        justify-content: center;
        gap: 14px 10px;
        margin: 22.25px 0 36px 0;
        padding-left: 20px;
        min-width: 88.125%;
    }
}