.element {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 10px;
    max-width: 282px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}


@media screen and (max-width: 319px) {
    .element {
        min-width: 200px;
    }
}